@model QUANLYSACH_MVC.Accounts

@{
    ViewBag.Title = "DangKy";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Skybooks Clone by manod</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link rel="stylesheet" type="text/css" href="~/Content/admin.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/admin_mvc.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/skybooks.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/grid.css" />
    <link rel="icon" type="image/x-icon" href="~/img/favicon.icon.png" />
    <!-- <link rel="stylesheet" href="/skybooks/css/responsive_home.css"> -->
    <!-- [if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js" integrity="sha512-qWVvreMuH9i0DrugcOtifxdtZVBBL0X75r9YweXsdCHtXUidlctw7NXg5KVP3ITPtqZ2S575A0wFkvgS2anqSA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <![endif]-->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <style type="text/css">
        * {
            margin: 0px;
            padding: 0px;
        }

        body {
            background: url(../../img/bg_login.gif);
            background-size: cover;
            background-repeat: no-repeat;
        }

        .form-horizontal .form-group {
            margin-right: 0px;
            margin-left: 0px;
        }

        .form-horizontal {
            padding: 30px;
            margin: 3% 35%;
            border-radius: 10px;
            background-color: oldlace;
            border: 2px solid groove;
        }

        .link_comeback {
            text-decoration: none;
            color: #337ab7;
            font-size: 18px;
            font-weight: 600;
        }

        .link_comeback:hover {
            text-decoration: none;
            color: #337ab7;
            font-size: 18px;
            font-weight: 600;
        }
    </style>
</head>
<body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <div class="wrapper grid">
        <div class="logo"><img src="~/img/logo_footer.png" alt="Skybooks Logo" /></div>

        <div class="admin_main">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <div class="title_management">Đăng Ký</div>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label style="font-size:10px; text-align:left; max-width:50%" class="control-label col-md-2">Tên đăng nhập:</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label style="font-size:10px; text-align:left; max-width:50%" class="control-label col-md-2">Mật khẩu:</label>
                        <div class="col-md-10">
                            @Html.PasswordFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Đăng Ký" class="btn_primary" />
                        </div>
                    </div>

                    <div>
                        @Html.ActionLink("Quay lại", "SkyShop", null, new { @class = "link_comeback" })
                    </div>
                    <div>
                        @Html.ActionLink("Bạn đã có tài khoản?", "DangNhap", null, new { @class = "link_comeback" })
                    </div>
                </div>
            }

        </div>
    </div>
</body>
</html>